.menu{
    .lupa{
        width: 30px;
        margin-left: 1em;
        cursor: pointer;
        margin-bottom: -7px;
    }
    .barra-pesquisa input{
        margin-left: 10px;
        margin-top: 23px;
        width: 310px;
        height: 26px;
    }
    .capa{
        margin-left: 28px;
        margin-top: 22px;
    }
    .mob{
        margin-left: 28px;
    }
    .capa2, .capa, .capa3{
        width: 315px;
        height: 495px;
        margin-top: 46px;
        cursor: pointer;
    }
    .animes{
        display: flex;
        justify-content: space-around;
    }
    h1{
        text-align: center;
        cursor: pointer;
    }

    
}