.menu {

    .barra-pesquisa input {
        margin-left: 1rem;
        margin-top: 1.4rem;
        width: 19rem;
        height: 1.6rem;
    }

    h1 {
        text-align: center;
        cursor: pointer;
    }



    .categorias {
        .rec.rec-arrow:disabled {
            visibility: hidden;
        }

        .ezKHIn,.cVXxbE {
            visibility: hidden;
        }

        .rec.rec-arrow {
            background: linear-gradient(180deg, #CBCBCB 0%, rgba(24, 24, 25, 0.51) 100%);
        }

        .rec.rec-arrow:hover {
            background: linear-gradient(180deg, #5C5A5A 0%, rgba(75, 74, 86, 0.51) 100%);
        }
    }


}