.feliz {

    .capa {
        width: 359px;
        height: 589px;
        margin-top: 46px;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }

    .text {
        text-align: center;
        align-items: center;
        margin-top: -568px;
    }

    .genero {
        text-align: center;
        align-items: center;
        margin-left: 185px;
    }

    .EP {
        text-align: center;
        align-items: center;
        margin-right: 371px;
    }

    .empressa {
        text-align: center;
        align-items: center;
        margin-right: 275px;
    }

    .sps {
        text-align: center;
        align-items: center;
    }

    .his{
        margin: 283px;
        margin-top: 15px;
        margin-left: 379px;
    }
    .tempor{
        background-color: darkgray;
    }
    .listap{
        margin-left: 379px;
    }
    .lista{
        background-color:blue;
    }

}