.categoria {


    .capa {
        margin-left: 1.7rem;
        margin-top: 1.5rem;
        width: 19rem;
        height: 31rem;
        margin-top: 2.8rem;
        cursor: pointer;
    }

    .mob {
        margin-left: 1.7rem;
    }


}